<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-target="#collapse{{ identifier }}" href="#collapse{{ identifier }}">
            <h3 class="panel-title">
                <i class="fa fa-filter"></i> {{ title }}
                <span id="chevron{{ identifier }}"><i class="fa fa-chevron-down"></i></span>
            </h3>
        </a>
    </div>
    <div id="collapse{{ identifier }}" class="panel-collapse collapse filter-collapse" data-chevron="#chevron{{ identifier }}">
        <div class="panel-body">
            {% for element in elements %}
                {% if radio is defined %}
                    {% include 'materials/_radio.html.twig' %}
                {% else %}
                    {% include 'materials/_checkbox.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
        {% if footer is defined %}
            <div class="panel-footer">
                <i class="fa fa-info-circle"></i> {{ footer|raw }}
            </div>
        {% endif %}
    </div>
</div>
