<div class="panel panel-default">
  <a class="panel-heading-anchor" data-toggle="collapse" data-target="#collapse{{ identifier }}">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% block panel_title %}
          <i class="fa fa-filter"></i> {{ identifier|trans({}, 'fields') }}
        {% endblock %}
        <span id="chevron{{ identifier }}"><i class="fa fa-chevron-{% if expanded %}up{% else %}down{% endif %}"></i></span>
      </h3>
    </div>
  </a>
  <div id="collapse{{ identifier }}" class="panel-collapse collapse{% if expanded %} in{% endif %} filter-collapse" data-chevron="#chevron{{ identifier }}">
    <div class="panel-body">
      {% block panel_select %}
        <p class="text-center">
          <a class="select-all">{{ 'select_all'|trans }}</a> | <a class="deselect-all">{{ 'clear_all'|trans }}</a>
        </p>
      {% endblock %}
      {% block panel_main %}
        {% for element in elements %}
          <a class="btn btn-default active btn-filter filter-checkbox" data-value="{% block element_value %}{{ element.code }}{% endblock %}" data-identifier="{{ identifier }}">
            {% if "fr" in app.request.locale %}{{ element.fr }}{% endif %}
            {% if "de" in app.request.locale %}{{ element.de }}{% endif %}
            {% if "en" in app.request.locale %}{{ element.en }}{% endif %}
            &nbsp;<i class="fa fa-check-square"></i>
          </a>
        {% endfor %}
      {% endblock %}
    </div>
    {% block panel_footer %}{% endblock %}
  </div>
</div>
