{% extends 'materials/_panel.html.twig' %}

{% block panel_main %}
    <p class="text-center">
        <a class="select-all">{{ 'select_all'|trans }}</a> | <a class="deselect-all">{{ 'clear_all'|trans }}</a>
    </p>
    {% for category, elements in categories %}
        {% if categories|length > 1 %}
            <p class="lead filters-lead">{{ category|trans({}, identifier) }}</p>
        {% endif %}
        {% for element, keywords in elements %}
            <a class="btn-filter filter-checkbox btn btn-default active" data-value="{{ keywords|join(';') }}" data-identifier="{{ identifier }}">
                {{ element|trans({}, identifier) }} <i class="fa fa-check-square"></i>
            </a>
        {% endfor %}
    {% endfor %}
{% endblock %}