<fieldset>
    <legend>{{ 'general'|trans }}</legend>
    <div class="form-group">
        <label for="fiLanguage">{{ 'language'|trans }}</label><br>
        <select id="fiLanguage" class="js-chosen" data-col="6">
            {% for language in languages %}
                <option value="{{ language }}">{{ language|trans({}, "languages") }}</option>
            {% endfor %}
        </select>
        <p class="help-block">{{ 'language_info'|trans }}</p>
    </div>
    <div class="form-group">
        <label for="fiTheme">{{ 'thematic'|trans }}</label><br>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active" id="fiThemeAll">
                <input type="radio" name="options" autocomplete="off" checked> {{ 'all_f'|trans }}
            </label>
            <label class="btn btn-primary" id="fiThemeSelect">
                <input type="radio" name="options" autocomplete="off"> {{ 'select'|trans }}
            </label>
        </div>
        <select id="fiTheme" class="js-chosen" multiple>
            {% for theme in themes %}
                <option value="{{ theme }}">{{ theme|trans({}, "themes") }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="fiModality">{{ 'learning_modality'|trans }}</label><br>
        <select id="fiModality" class="js-chosen" multiple>
            {% for modality in modalities %}
                <option value="{{ modality }}" selected>{{ modality|trans({}, "modalities") }}</option>
            {% endfor %}
        </select>
        <p class="help-block">{{ 'reference_books_examples'|trans }}</p>
    </div>
</fieldset>
<fieldset>
    <legend>{{ 'levels_and_skills'|trans }}</legend>
    <div class="form-group">
        <label for="fiLevel">{{ 'level_of_language'|trans }}</label><br>
        <select id="fiLevel" class="js-chosen" multiple>
            {% for level in levels %}
                <option value="{{ level }}" selected>{{ level|trans({}, "levels") }}</option>
            {% endfor %}
        </select>
        <p class="help-block">{{ 'level_description'|trans }}:
            <a href="http://www.unifr.ch/centredelangues/autoapprentissage/Niveauraster/RasterSelbstbeurteilungDE.pdf"><label>DE</label></a>
            <a href="http://www.unifr.ch/centredelangues/autoapprentissage/Niveauraster/French-Francais.pdf"><label>FR</label></a>
            <a href="http://www.unifr.ch/centredelangues/autoapprentissage/Niveauraster/English.pdf"><label>EN</label></a>
            <a href="http://www.unifr.ch/centredelangues/autoapprentissage/Niveauraster/Italian-Italiano.pdf"><label>IT</label></a>
            <a href="http://www.unifr.ch/centredelangues/autoapprentissage/Niveauraster/Spanish.pdf"><label>ES</label></a>
        </p>
    </div>
    <div class="form-group">
        <label for="fiSkills">{{ 'skills'|trans }}</label><br>
        <select id="fiSkills" class="js-chosen" multiple>
            {% for skill in skills %}
                <option value="{{ skill }}" selected>{{ skill|trans({}, "skills") }}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>
<fieldset>
    <legend>{{ 'material'|trans }}</legend>
    <div class="form-group">
        <label for="fiSource">{{ 'source_language'|trans }}</label><br>
        <select id="fiSource" class="js-chosen" multiple>
            {% for language in languages_source %}
                <option value="{{ language }}" selected>{{ language|trans({}, "languages_source") }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="fiType">{{ 'media'|trans }}</label><br>
        <select id="fiType" class="js-chosen" data-col="5" multiple>
            {% for media in medias %}
                <option value="{{ media }}" selected>{{ media|trans({}, "medias") }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="fiYear">{{ 'year_of_publication'|trans }}</label><br>
        <select id="fiYear" class="js-chosen">
            {% for year in years %}
                <option value="{{ year }}" {% if year == "all" %}selected{% endif %}>{{ year|trans({}, "years") }}</option>
            {% endfor %}
        </select>
</fieldset>
