<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{{ 'title'|trans }}</th>
            <th>{{ 'target_level'|trans }}</th>
            <th>{{ 'skills'|trans }}</th>
            <th>{{ 'thematics'|trans }}</th>
            <th>{{ 'source_language'|trans }}</th>
            <th>{{ 'medium'|trans }}</th>
            <th>{{ 'year'|trans }}</th>
            <th>{{ 'target_language'|trans }}</th>
            <th>{{ 'modality'|trans }}</th>
            <th>ID</th>
            <th>Type</th>
        </tr>
    </thead>
</table>
