<div id="materialModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <dl class="dl-horizontal">
              <dt>{{ 'title'|trans }}</dt>
              <dd id="titel">-</dd>
              <dt>{{ 'autor'|trans }}</dt>
              <dd id="autor">-</dd>
              <dt>{{ 'jahr'|trans }}</dt>
              <dd id="jahr">-</dd>
              <dt>{{ 'sprachniveau'|trans }}</dt>
              <dd id="sprachniveau">-</dd>
              <dt>{{ 'fertigkeit'|trans }}</dt>
              <dd id="fertigkeit">-</dd>
              <dt>{{ 'fachbezug'|trans }}</dt>
              <dd id="fachbezug">-</dd>
              <dt>{{ 'ausgangssprache'|trans}}</dt>
              <dd id="ausgangssprache">-</dd>
              <dt>{{ 'medium'|trans }}</dt>
              <dd id="medium">-</dd>
              <dt>{{ 'signatur'|trans }}</dt>
              <dd id="signatur">-</dd>
              <dt>{{ 'beschreibung'|trans }}</dt>
              <dd id="beschreibung">-</dd>
          </dl>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th><!-- link -->
            <th></th><!-- id -->
            <th>{{ 'title'|trans }}</th><!-- titel -->
            <th></th><!-- autor -->
            <th>{{ 'target_level'|trans }}</th><!-- sprachniveau -->
            <th>{{ 'skills'|trans }}</th><!-- fertigkeit -->
            <th>{{ 'thematics'|trans }}</th><!-- fachbezug -->
            <th>{{ 'source_language'|trans }}</th><!-- ausgangssprache -->
            <th></th><!-- spr -->
            <th>{{ 'medium'|trans }}</th><!-- medium -->
            <th>{{ 'year'|trans }}</th><!-- jahr -->
            <th></th><!-- code -->
            <th></th><!-- kommentar -->
            <th></th><!-- asl -->
            <th></th><!-- type -->
        </tr>
    </thead>
</table>
