<p class="lead text-center materials-spr">
    {{ 'which_lang'|trans }}
    <select id="select-spr">
        {% for element in spr %}
            <option value="{{ element.code }}">
                {% if "fr" in app.request.locale %}{{ element.fr }}{% endif %}
                {% if "de" in app.request.locale %}{{ element.de }}{% endif %}
                {% if "en" in app.request.locale %}{{ element.en }}{% endif %}
            </option>
        {% endfor %}
    </select>
</p>
<p class="text-center materials-spr-select">
  {{ 'select_objectives'|trans }}
</p>
<hr>
